/*햄버거 메뉴*/
.header {
	width: 100%;
	z-index: 9999;
	position: fixed;
}

/*전체 감쌈*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: -0.5vw;
	background-color: rgba(0, 0, 0, 0);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: block;
}

/*모든 글자들*/
.sidenav a {
	padding: 8px 8px 8px 40px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 400;
	color: #777;
	display: block;
	transition: 0.3s;
	font-family: 'Noto Sans KR', sans-serif;
	overflow-x: hidden;
}

.sidenav a:hover {
	color: #f5419c;
}

/*실질적 링크 연결 메뉴들*/
a.sub-menu {
	position: relative;
	top: 2vh;
	padding-top: 1.75vh;
}

/*닫는 버튼*/
.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 1.3vw;
	font-size: 4.15vh;
	margin-left: -1.45vw;
	margin-top: 1.2vh;
}

/*원래 햄버거*/
span {
	position: fixed;
	top: 1.68vw;
	left: 1.6vw;
}
