/*레이어들*/

.layer {
    display: table;
    width: 100%;
    height: 100%
}

.layer .layer-container {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0 auto;
	
}

.layer .layer-area {
    width: 85vw;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
}

.content::after {
    content: "";
    display: block;
    clear: both
}

.index + .content {
    margin-top: 50px;
}


    .layer .content{
        position: relative;
        width: 100%;
/*        height: 100%;*/
    }
        
       
        
        
        
        /*    메인 자동재생 동영상*/
	#myVideo, #myVideo2{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		/* background-image: ; */
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}
        
        
        /* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section0 .layer0{
		text-align: center;
		position: fixed;
		z-index: 3;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0%;
		/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	/*solves problem with overflowing video in Mac with Chrome */
	#section0, #section1, #section3, #section4, #section5, #section6, #section7, #section8{
		overflow: hidden;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}


	/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
	video#myVideo::-webkit-media-controls {
	  display:none !important;
	}
    
    /*sec0 css*/
    img#go-down {
        width: 12%;
        text-align: center;
        -webkit-animation:blink 0.7s ease-in-out infinite alternate;
        -moz-animation:blink 0.7s ease-in-out infinite alternate;
        animation:blink 0.7s ease-in-out infinite alternate;
    }
        .bottom-menu table{
/*            margin-top: 200px;*/
            width: 100%;
            position: relative;
			
        }
        .bottom-menu td{
            width: 33.3333%;
            text-align: center;
        }


#section0,#section1,#section2,#section3{
		background-size: cover;
		background-attachment: fixed;
	}


/*레이어1*/

.layer1-column{
    position: relative;
	left: vw;
    width: 100%;
    height:50%;
    text-align: center;
    margin: 0 auto;
}
.notice{
	position: absolute;
	top: -5vh;
	left: 38vw;
	color: #8b8b8b;
	font-size: 15px;
	font-weight: 6500;
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
        -moz-animation:blink 1.5s ease-in-out infinite alternate;
        animation:blink 1.5s ease-in-out infinite alternate;
}
.layer1-left{
	position: relative;
	width: 45%;
	height:70vh;
    float: left;
/*	background-color: rgba(238, 130, 238, 0.26);*/
	padding: 2.5%;
	left: 2vw;
}
.layer1-left a{
	font-size:30px;
	font-weight: 400;
	position: relative;
	top: 30vh;
	color: #000;
}
.layer1-left a:hover{
	cursor: grab;
	color: #ff2291;
	z-index: 100;
}
.layer1-text{
	position: relative;
	top: 34vh;
	font-size:1.6vh;
	font-weight: 100;
	line-height: 3.2vh;
}
.sugar{
	position: absolute;
	left: 70px;
	display: none;
	z-index: 5;
}
.layer1-right{
	position: relative;
	width: 45%;
	height:70vh;
    float: left;
/*	background-color: rgba(0, 0, 255, 0.15);*/
	padding: 2.5%;
	right: 2vw;
}
.layer1-right a{
	font-size: 30px;
	font-weight: 400;
	position: relative;
	top: 30vh;
	color: #000;
}

.layer1-right a:hover{
	cursor: grab;
	color: #ff2291;
	z-index: 100;
}
.debut{
	position: absolute;
	left: 70px;
	display: none;
	z-index: 5;
}


.clear{
	clear: both;
}
        
        
        .swiper-container {
            width: 70vw;
            height: 50vh;
            margin: 150px auto;
            padding-top: 50px;
/*			overflow-x:auto;*/
			top: -3vh;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-slide a {
            font-size: 27px;
            font-weight: 100;
            position: relative;
            top: 46vh;
			left: -0.1vw;
            text-align: center;
            display: block;
            color: black;
/*            background-color: violet;*/
            text-decoration: none;
/*			display: none;*/
        }
        
        td#album{visibility: hidden;}

#hide{
	width: 35vw;
	height: 14vh;
	background-color: violet;
	background-color: #fff;
	position: absolute;
	top: 63vh;
	left: -3vw;
	z-index: 9999;
	
}

#hide2{
	width: 35vw;
	height: 14vh;
	background-color: violet;
	background-color: #fff;
	position: absolute;
	top: 63vh;
	right: -3vw;
	z-index: 9999;
	
}

/*레이어마지막*/

.overlay {
/*  display: none;*/
  z-index: 1000;
  position: fixed;
  width: 100vw; height: 100vh;
  left: 0; top: 300vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}


#niceto{
	position: relative;
	top: 61vh;
	left: 3vw;
	font-size: 10vh;
	font-weight: 600;
	color: rgba(219, 219, 219, 0.5);
	z-index: 1001;
}