

/*LP플레이어*/
.player-container {
	position: absolute;
	margin: 0 auto;
    text-align: center;
	left: 0;
	right: 0;
	margin-top: 150px;
}

.player-album {
	position: absolute;
	z-index: 15;
	border-radius: 2px;
	transform: translateX(0);
	transition: all 0.2s ease-out;
    width:330px;
	left: 11vw;
}

.player-album.active {
	transform: translateX(-50px);
	transition: all 0.2s ease-out;
}

.player-vinyl {
    width: 190px;
	width: 320px;
	position: absolute;
	z-index: 10;
	top: 6px;
/*	left: 1165px;*/
	transform-origin: center middle;
	transition: all 0.2s ease-out;
	left: 11vw;
}

.player-vinyl.active {
	position: absolute;
	transform: translateX(7vw);
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl.playing {
	position: absolute;
	transform: translateX(7vw);
	transform-origin: center middle;
	animation: playing 1.4s infinite linear;
}

.player-shadow {
    width: 280px;
	width: 450px;
	position: absolute;
	z-index: 9;
	top: 240px;
	left: 10vw;
    margin-left: -40px;
	transform: translateX(0);
	transition: all 0.2s ease-out;
}

.player-vinyl.active ~ .player-shadow {
	position: absolute;
	transform: translateX(7vw);
	transition: all 0.2s ease-out;
}

@keyframes playing {
	0% {
		transform: translateX(7vw) rotate(0);
	}
	100% {
		transform: translateX(7vw) rotate(360deg);
	}
}

.album-info{
	position: relative;
	top: 53vh;
	left: 10.5vw;
}

.title{
	font-size: 10vh;
	font-weight: 600;
	margin: 3vh 0 3vh;
	color: #242424;
}
.sub-info{
	font-size: 2vh;
	font-weight: 100;
	position: relative;
	top: 1vh;
}

.sub-info td{
	padding-right: 45px;
	padding-bottom: 0.4vh;
	vertical-align: top;
}

.track{
/*	background-color: violet;*/
	position: relative;
	top: -20vh;
	left:45vw;
	width: 61%;
}
.track-title{
	font-size: 7vh;
	font-weight: 100;
	color: #d8d8d8;
}

.track table{
	position: relative;
	top: 6vh;
	font-size: 1.9vh;
	font-weight: 100;
	
}
.track table tr{
	vertical-align: top;
	height: 13vh;
}
.track table td{
	width:17vw;
}
.sub-sub{
	position: relative;
	top: 1.2vh;
/*	left: 1.3vw;*/
	font-size: 1.4vh;
	color: #888888;
	line-height: 2vh;
	letter-spacing: 0.015vw;
}