* {
	margin: 0;
	padding: 0;
	font-family: Gothic A1;
}

::-webkit-scrollbar {
	width: 10px;
	display: none
}

::-webkit-scrollbar-track {
	background-color: black;
}

a {
	color: #fff;
	text-decoration: none
}

header {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	z-index: 1000;
}

.footer{
	position: fixed;
	color: white;
	color: #9933ff;
	background-color: rgba(255, 255, 255, 0);
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.8px;
	top: 915px;
	left: 870px;
	margin: 0 auto;
	text-align: center;
}

/* .purple{

} */

header nav,
header nav ul {
	margin: 12px;
	margin-top: 15px;
	width: 98.05%;
	height: 95%;
}

ul {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	list-style: none;
}

.logo_img {
	width: 7vh;
}

.main {
	float: left;
	position: relative;
}

@keyframes changecolor {
	from {
		color: white;
		margin-left: 0px;
	}

	to {
		color: #9933ff;
		margin-left: -230px;
	}
}

@keyframes changecolor2 {
	from {
		color: transparent;
		/* left: 110px; */
		margin-left: 0;
	}

	to {
		color: #9933ff;
		/* left: 160px; */
		margin-left: 50px;
	}
}

.main_txt {
	font-size: 150px;
	font-weight: 800;
	letter-spacing: 5px;
	z-index: 100;
	/*	background-color: black;*/
	position: absolute;
	top: -100px;
	left: -250px;
	animation-name: changecolor;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
/*	color: transparent*/
}

.main_txt2 {
	font-size: 150px;
	font-weight: 800;
	letter-spacing: 5px;
	z-index: 100;
	/*	background-color: black;*/
	position: absolute;
	top: -100px;
	left: 110px;
	animation-name: changecolor2;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	color: transparent
}

@keyframes changesize {
	from {
		width: 800px;
		height: 200px;
		top: -130px;
		left: -400px;
	}

	to {
		width: 1250px;
		height: 450px;
		top: -230px;
		left: -620px;
	}
}

.main_w_sq {
	position: absolute;
	width: 800px;
	top: -150px;
	left: -400px;
	animation-name: changesize;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

/* index#dot-nav */
.dot-nav{
	transform: rotate(90deg);
	position: fixed;
	top: 420px;
	right: -20px;
	display:inline-block;
	width: auto;
	height: auto;
	font-size: 17px;
}
.dot-nav ul li a{
	color: rgba(153, 51, 255, 0.7);
}

.dot-nav ul li a:hover, a:active{
	color: #9933ff;
}
.dot-nav ul li+li{
	margin-left: 15px;}



.portfolio {}

.about {}

.contact {}

/* vw vh - 브라우저 사이즈의 width, height - view width, view height 의 비율 */
/* main{padding-top:80px} */
.section {
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 800px;
	color: #fff
}

/* .section{display:block;width:100%;height:calc(100vh - 80px);min-height:800px;color:#fff} */
.section .section-area {
	width: 1024px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 40px;
	padding-left: 40px;
	box-sizing: border-box
}

/* .section:nth-child(1) .section-area{padding-top:80px} */
/* .section:nth-child(1){height:calc(100vh - 80px)} */
.section .section-area .area-flex {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center
}

.section .section-area .area-flex b {
	font-size: 100px;
	font-weight: 700;
	line-height: 120px
}

#section0 {
	background-color: #000
}





body {
	/*	overflow-x: hidden;*/
	overflow-x: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
}

.wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.particule {
	position: fixed;
	z-index: 0;
}

/* video좌우반전 */
#videoElement {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	/* Safari and Chrome */
	-moz-transform: rotateY(180deg);
	/* Firefox */
	/* visibility: hidden; */
	display: none;
	/* 비디오 속성이 사라져도 캔버스에는 보인다. */
}

/* canvas좌우반전 */
canvas {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	/* Safari and Chrome */
	-moz-transform: rotateY(180deg);
	/* Firefox */
	position: absolute;
	top: 280px;
	left: 460px;
	z-index: 100;
}

.trigger p{
	position: absolute;
	left: 46.5vw;
	bottom: 21.2vh;
	color: rgb(170, 170, 170);
}

@keyframes shake {
	10%, 90% {
	  transform: translate3d(-0.5px, 0, 0);
	}
	20%, 80% {
	  transform: translate3d(1px, 0, 0);
	}
	30%, 50%, 70% {
	  transform: translate3d(-1px, 0, 0);
	}
	40%, 60% {
	  transform: translate3d(2px, 0, 0);
	}
  
  }

.index_button {
	width: 10vh;
	position: absolute;
	left: 47.5vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	bottom: 23vh;
	z-index: 1000;
	animation: shake 2s cubic-bezier(.36,.07,.19,.97) 2s none;
  	transform: translate3d(0, 0, 0);
}



/*-------------------about----------------------*/


#section1 {
/*	background-color: rgba(153, 51, 255, 0.22)*/
	
}


.textgroup1 {
	transform: rotate(-90deg);
	position: relative;
	top: -235px;
	left: -318px;
}


.textgroup1 p {
	font-size: 17px;
	font-weight: 400;
	line-height: 27.5px;
	letter-spacing: 0.3px;
	color: #d9d9d9;
	position: relative;
	top: 55px;
	left: -110px;
}

.videogroup {
	position: absolute;
	z-index: 100;
}

.videogroup img {
	position: relative;
	top: 0px;
	left: 200px;
	width: 400px;
}

.videogroup video {
	position: relative;
	top: 30px;
	left: -175px;
	width: 400px;
	height: 400px;
	background-color: white;
}

.videogroup .gudimg{
	position: relative;
	top: -30px;
	left: -175px;
	width: 340px;
	height: 340px;
}

.textgroup2 {
	position: relative;
	top: 200px;
	left: 550px;
}

.textgroup2 h1 {
	font-size: 130px;
	font-weight: 800;
	letter-spacing: 5px;
	color: #9933ff;
}

.textgroup2 p {
	font-size: 17px;
	font-weight: 400;
	line-height: 27.5px;
	letter-spacing: 0.3px;
	color: #d9d9d9;
	position: relative;
	top: 30px;
	left: -200px;
}

.objectgroup{
	
}

.objectsgroup .obj_frame{
	position: absolute;
	top: 1100px;
	left: 1250px;
	width: 130px;
}

.objectsgroup .obj_obj{
	position: absolute;
	top: 1105px;
	left: 1255px;
	width: 120px;
}

.objectsgroup2 .obj_frame2{
	position: absolute;
	top: 1140px;
	left: 1300px;
	width: 130px;
}

.objectsgroup2 .obj_obj2{
	position: absolute;
	top: 1145px;
	left: 1305px;
	width: 120px;
}

/*---------------------------*/

#section2 {
	/*	background-color: #0f0*/
	position: relative;
}

.contact_frame{
	position: absolute;
	width: 1150px;
}
.contact_left{
	position: relative;
	margin-right: 80px;
	float: left;
	text-align: left;
	z-index: 1000;
}
.contact_left .con_name{
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 20px;
	margin-left: 30px
}
.contact_left img{
	width: 400px;
	margin-bottom: 15px;
}
.contact_left .con_download{
	font-size: 19px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-left: 15px;
	padding-top: 10px;
	color: black;
	width: 180px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	border: 3px solid #9933ff;
	background-color: rgba(153, 51, 255, 0.5);
	z-index: 1500;
}

.contact_left .con_download:hover{
	color: #9933ff;
	border: 3px solid #9933ff;
	background-color: rgba(0, 0, 0, 0.5);
}

.contact_left .con_add{
	margin: 20px 15px;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #cccccc;
}
.contact_right{
	position: relative;
	margin-left: 80px;
	top: -30px;
	text-align: right;
	z-index: 1000;
}
.contact_right .con_name{
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 20px;
	margin-left: 30px
}
.contact_right img{
	width: 400px;
	transform: rotate(180deg)
}
.contact_right .con_download{
	font-size: 19px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-right: 15px;
	float: right;
	padding-top: 10px;
	color: black;
	width: 180px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
	border: 3px solid #9933ff;
	background-color: rgba(153, 51, 255, 0.5);
	z-index: 1500;
}

.contact_right .con_download:hover{
	color: #9933ff;
	border: 3px solid #9933ff;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1500;
}

.contact_right .con_add{
	margin: 20px 15px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #cccccc;
}