html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/*	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
/*	line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*sub-section00*/

.song-title{
/*	font-size: 110px;*/
	font-size: 11.35vh;
	color: rgba(141, 224, 255, 0.75);
	margin: 40px auto 20px;
	position: relative;
	top: -1.5vh;
	left: -1vw;
	transform: translateY(15vh)
	translateX(2vw)
}
.song-sub{
/*	font-size: 32px;*/
	font-size: 3.3vh;
	color: rgba(151, 172, 178, 0.85);
	margin: 10px 3px;
	position: relative;
	top: -0.5vh;
	left: -0.9vw;
	transform: translateY(14vh)
	translateX(2vw)
}

.infos{
	color: rgba(132, 216, 247, 0.75);
/*	font-size: 15px;*/
	font-size: 1.6vh;
	font-weight: 100;
	line-height: 2.9vh;
	position: relative;
	top: 1.5vh;
	left: -0.9vw;
	transform: translateY(15vh)
	translateX(2vw)
}



/*tabmenu0*/



.tab-menu{
	width:60vw;
	margin:0 auto;
	margin-top:50px
}
    .tab-menu ul{
		display:flex
}
    .tab-menu li{
		flex:1;
		height:7vh
}
    .tab-menu li a{
		position:relative;
		display:block;
		width:100%;
		height:100%;
		background-image: linear-gradient(transparent, rgba(158, 214, 255, 0.1));
		text-transform:uppercase;
		text-align:center;
		line-height:5.5vh;
		font-size: 2.5vh;
		font-weight: 100;
		color: rgba(80, 161, 255, 0.5);
}
    .tab-menu li a.selected{
		cursor:default;
		background-image: linear-gradient(transparent, rgba(158, 214, 255, 0.2));
		color: rgb(80, 161, 255);
}
    .tab-container{
		width:60vw;
		margin:0 auto;
		border:1px solid transparent;
		box-sizing:border-box;
		background-color: rgba(158, 214, 255, 0.2);
}
    .tab-container .tab-content{
		display:none;
		padding:30px;
		height:65vh;
		box-sizing:border-box
}
     .tab-container .tab-content.selected{
		 display:block
} 