/*sub-section00*/

.song-title{
/*	font-size: 110px;*/
	font-size: 11.35vh;
	color: rgba(248, 248, 248, 0.75);
	margin: 40px auto 20px;
	position: relative;
	top: -2vh;
	left: -1vw;
	transform: translateY(15vh)
	translateX(2vw)
}
.song-sub{
/*	font-size: 32px;*/
	font-size: 3.3vh;
	color: rgba(119, 119, 119, 0.85);
	margin: 10px 3px;
	position: relative;
	top: 0vh;
	left: -0.9vw;
	transform: translateY(14vh)
	translateX(2vw)
}

.infos{
	color: #777;
/*	font-size: 15px;*/
	font-size: 1.6vh;
	font-weight: 100;
	line-height: 2.7vh;
	position: relative;
	top: 1.5vh;
	left: -0.9vw;
	transform: translateY(15vh)
	translateX(2vw)
}

/*sec0 css*/
    img#go-down {
        width: 12%;
        text-align: center;
        -webkit-animation:blink 1s ease-in-out infinite alternate;
        -moz-animation:blink 1s ease-in-out infinite alternate;
        animation:blink 1s ease-in-out infinite alternate;
    }
        .bottom-menu table{
            position: relative;
			width: 85%;
            transform: translateY(55vh)
        }
        .bottom-menu td{
            width: 33.3333%;
            text-align: center;
        }



/*LP플레이어*/
.player-container {
	position: absolute;
	margin: 0 auto;
    text-align: center;
	left: 0;
	right: 0;
	margin-top: -100px;
    margin-left: -200px;
	margin-top: -90px;
	margin-left: -400px;
}

.player-album {
	position: absolute;
	z-index: 15;
	border-radius: 2px;
	transform: translateX(0);
	transition: all 0.2s ease-out;
    
}

.player-album.active {
	transform: translateX(-50px);
	transition: all 0.2s ease-out;
}

.player-vinyl {
    width: 190px;
	position: absolute;
	z-index: 10;
	top: 5px;
	left: 1065px;
	top: 6px;
	left: 1165px;
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl.active {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	transition: all 0.2s ease-out;
}

.player-vinyl.playing {
	position: absolute;
	transform: translateX(50px);
	transform-origin: center middle;
	animation: playing 1.4s infinite linear;
}

.player-shadow {
    width: 280px;
	position: absolute;
	z-index: 9;
	top: 145px;
    margin-left: -40px;
	transform: translateX(0);
	transition: all 0.05s ease-out;
}

.player-vinyl.active ~ .player-shadow {
	position: absolute;
	transform: translateX(50px);
	transition: all 0.2s ease-out;
}

@keyframes playing {
	0% {
		transform: translateX(50px) rotate(0);
	}
	100% {
		transform: translateX(50px) rotate(360deg);
	}
}

.layer2 td.text{
	position: relative;
	left: 900px;
}